[submodule "vimbundles/fzf"]
	path = vimbundles/fzf
	url = https://github.com/junegunn/fzf
[submodule "vimbundles/fzf.vim"]
	path = vimbundles/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vimbundles/psc-ide-vim"]
	path = vimbundles/psc-ide-vim
	url = https://github.com/FrigoEU/psc-ide-vim.git
[submodule "vimbundles/purescript-vim"]
	path = vimbundles/purescript-vim
	url = https://github.com/raichoo/purescript-vim.git
[submodule "vimbundles/vim-airline"]
	path = vimbundles/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vimbundles/vim-airline-themes"]
	path = vimbundles/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vimbundles/vim"]
	path = vimbundles/vim
	url = https://github.com/dracula/vim.git
[submodule "vimbundles/syntastic"]
	path = vimbundles/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "vimbundles/nerdcommenter"]
	path = vimbundles/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vimbundles/vim-bufkill"]
	path = vimbundles/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill
[submodule "vimbundles/ayu-vim"]
	path = vimbundles/ayu-vim
	url = https://github.com/ayu-theme/ayu-vim
[submodule "vimbundles/indentLine"]
	path = vimbundles/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "vimbundles/vim-gitgutter"]
	path = vimbundles/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vimbundles/nerdtree"]
	path = vimbundles/nerdtree
	url = https://github.com/scrooloose/nerdtree
