[submodule "vimbundles/fzf"]
	path = vimbundles/fzf
	url = https://github.com/junegunn/fzf
[submodule "vimbundles/fzf.vim"]
	path = vimbundles/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vimbundles/psc-ide-vim"]
	path = vimbundles/psc-ide-vim
	url = https://github.com/FrigoEU/psc-ide-vim.git
[submodule "vimbundles/purescript-vim"]
	path = vimbundles/purescript-vim
	url = https://github.com/raichoo/purescript-vim.git
[submodule "vimbundles/vim-airline"]
	path = vimbundles/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vimbundles/vim-airline-themes"]
	path = vimbundles/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vimbundles/vim"]
	path = vimbundles/vim
	url = https://github.com/dracula/vim.git
[submodule "vimbundles/syntastic"]
	path = vimbundles/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "vimbundles/nerdcommenter"]
	path = vimbundles/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vimbundles/vim-bufkill"]
	path = vimbundles/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill
[submodule "vimbundles/ayu-vim"]
	path = vimbundles/ayu-vim
	url = https://github.com/ayu-theme/ayu-vim
[submodule "vimbundles/indentLine"]
	path = vimbundles/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "vimbundles/vim-gitgutter"]
	path = vimbundles/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vimbundles/nerdtree"]
	path = vimbundles/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vimbundles/vim-zoom"]
	path = vimbundles/vim-zoom
	url = https://github.com/dhruvasagar/vim-zoom
[submodule "vimbundles/vim-json"]
	path = vimbundles/vim-json
	url = https://github.com/elzr/vim-json
[submodule "vimbundles/comfortable-motion.vim"]
	path = vimbundles/comfortable-motion.vim
	url = https://github.com/yuttie/comfortable-motion.vim
[submodule "vimbundles/vim-fugitive"]
	path = vimbundles/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vimbundles/vim-windowswap"]
	path = vimbundles/vim-windowswap
	url = https://github.com/wesQ3/vim-windowswap
[submodule "vimbundles/ale"]
	path = vimbundles/ale
	url = https://github.com/w0rp/ale
[submodule "vimbundles/goyo.vim"]
	path = vimbundles/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "vimbundles/vim-pencil"]
	path = vimbundles/vim-pencil
	url = https://github.com/reedes/vim-pencil/
